*{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
body{
  background-color:rgb(0, 0, 0);
    overflow-x: hidden;
}
.url li a{
  color:white;
}
.logo{
  font-weight: bold;
  margin-left: 200px;
 width: 60px;
 height: 30px;
}
.explan{
  font-size:20px;
  margin-top:30px;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100vw; 
    height: 10vh;
}
.url{
    display: flex;
    justify-content: space-between;
    gap:50px;
    margin-left: 150px;
    list-style-type: none;
    text-decoration: none;
    margin-right: 50px;
}
.section-2{
    background-color: rgb(0, 0, 0);
    position:relative;
    height: 500px;
    width: 1520px;
}
.rectangle {
  height: 24px;
  width: 400px;
  margin-left: 1100px;
  margin-top: 89px;
 position:absolute;
 rotate: 10deg; ;
  background-color: rgb(251, 114, 255);
}
.rectangle2 {
  height: 24px;
  width: 300px;
  margin-left: 1250px;
  margin-top: 269px;
 position:absolute;
 rotate: -10deg; ;
  background-color: rgb(251, 114, 255);
}
.rectangle3 {
  height: 24px;
  width: 400px;
  margin-left: 1100px;
  margin-top: 431px;
 position:absolute;
 rotate: 10deg; ;
  background-color: rgb(251, 114, 255);
}
.rectangle4 {
  height: 24px;
  width: 115px;
  margin-left: 900px;
  margin-top: 471px;
 position:absolute; ;
  background-color: rgb(98, 235, 154);
}
.circle1 {
    margin-left: 782px;
    margin-top: 369px;
  position:absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(76, 171, 225);
  border-radius: 50%;
}
.rectangle5 {
  height: 75px;
  width: 369px;
  margin-left:500px;
  margin-top: 265px;
  rotate: -15deg;
 position:absolute; ;
  background-color: rgb(255, 212, 38);
}
.rectangle6 {
  height: 75px;
  width: 369px;
  margin-left:500px;
  margin-top: 268px;
  rotate: 75deg;
 position:absolute; ;
  background-color: rgb(255, 212, 38);
}
.circle2 {
    margin-left:643px;
    margin-top: 260px;
  position:absolute;
  height: 75px;
  width: 75px;
  background-color: #000000;
  border-radius: 50%;
}
.rectangle7 {
  height: 75px;
  width: 369px;
  margin-right:111px;
  margin-top: 254px;
  rotate: 130deg;
 position:absolute; ;
  background-color: rgb(251, 114, 255);
}
.triangle-up {
	width: 0;
	height: 0;
   position:absolute;
     margin-top: 210px;
     margin-left:153px;
	border-left: 150px solid transparent ;
	border-right: 150px solid transparent;
	border-bottom: 250px solid rgb(0, 255, 242);
}

.rectangle8 {
  height: 75px;
  width: 200px;
  margin-left:62px;
  margin-top: 144px;
  rotate: 220deg;
 position:absolute; ;
  background-color: rgb(251, 114, 255);
}
.div1{
    color:white;
    padding-left: 150px;
    margin-top: 42px;
    font-size: 39.06px;
}
.div2{
     
    width: 200px;
    color: white;
    rotate: -90deg;
    
}
.con-1{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
width: 300px;
border:2px solid white;
font-size: larger;
}
.con-2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
width: 300px;
border:2px solid white;
font-size: larger;
}
.con-3{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
width: 300px;
border:2px solid white;
font-size: larger;

}
.con-4{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
width: 300px;
border:2px solid white;
font-size: larger;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-top: 180px;
    margin-bottom:60px;
    background-color: rgb(24, 121, 231);
}
.Card{
      display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 150px;
    width:1200px;
    background-color: rgb(14, 13, 13);
}
.Square{
     width: 50px;
    height: 50px;
    background-color: deeppink;
     margin-top: 180px;
    margin-bottom:60px;
}
.section-4{
  color: white;
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.section-4 header {
    color: white;
    rotate: -90deg;
    width: fit-content;
    margin-left: 150px;
    margin-bottom : 1550px ;
}
.section-4 .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.mt-50{
  margin-top:50px;
}

.contenar1{
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    background-color: beige;
    border: 1px solid rgba(255, 255, 255, 0.553);
    /* margin-left: 600px; */
}
.left{
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
}
.immag{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-left: 30px;
    margin-top: 30px;
}
.right{
    color: white;
  width: 40vw;
  border: 1px solid rgba(255, 255, 255, 0.553);
  background-color: black;
}
.input{
    width: 17vw;
    height: 3vh;
    margin-top:10px ;
    margin-left: 10px;
}
.buttom{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
     /* gap: 150px; */
     margin-top: 10px;
     
}
.buttom-bo{
     width: 100px;
    height: 35px; 
    background-color: rgb(255, 255, 255);
    font-size: large;
    color: black;
}
.top{
    /* display: flex; */
    /* flex-direction: row; */
}
.pi-button{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    background-color: rgb(0, 0, 0);
    width: 23vw;
    gap: 60px;
    margin-bottom: 50px;
    align-items: first baseline;
    color: white;
}
.left-con{
    margin-left: 30px;
}
.material-symbols-outlined{
    /* width: 60px;
    height: 60px;
    background-color: aquamarine; */
    margin-top: 18px;
}
.ic{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 40px;
}
.von-icon{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.553);
}
.section-5{
    display: flex;
    justify-content: end;
    /* background-color: black; */
}